<!-- wp:template-part {"slug":"header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"},"blockGap":"0rem"},"dimensions":{"minHeight":""}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:heading {"style":{"typography":{"fontSize":"8rem","lineHeight":"1"},"elements":{"link":{"color":{"text":"var:preset|color|u-white"}}}},"textColor":"u-white","className":"shadow-404"} -->
    <h2 class="wp-block-heading shadow-404 has-u-white-color has-text-color has-link-color" style="font-size:8rem;line-height:1">404</h2>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"style":{"typography":{"lineHeight":"2.25","fontSize":"1.88rem","fontStyle":"normal","fontWeight":"500"}}} -->
    <h2 class="wp-block-heading" style="font-size:1.88rem;font-style:normal;font-weight:500;line-height:2.25">We can't seem to find the page you're looking for.</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"className":"underline underline-offset-4 !mt-4"} -->
    <p class="underline underline-offset-4 !mt-4"><a href="blob:http://lr-udemy-course.local/af415332-af8c-4d74-9339-ee38c981b249#">Head back to the homepage</a></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"udemy","tagName":"footer","className":"bg-gray-700 p-16"} /-->